{% extends 'base.html' %}

{% block title %}
    Inicio - Promasos 69
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        <i class="fas fa-store me-2"></i> Esto es Promasos 69!
                    </h2>
                
                    <p class="lead">
                        <i class="fas fa-user me-2"></i> Bienvenido {{ user.username }}!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor Empresas -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="mb-3">Empresas</h3>
                    <div class="d-flex justify-content-center flex-wrap gap-3">
                        {% for empresa in empresas %}
                            {% include 'core/card_empresa.html' with empresa=empresa %}
                        {% empty %}
                            <p>No hay empresas disponibles.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
