<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-cash-register me-2"></i>GRUPO 01 - TLP
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                        <i class="fas fa-home me-1"></i>Inicio
                    </a>
                </li>
                <!-- Dropdown para Artículos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="articulosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-box me-1"></i>Artículos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="articulosDropdown">
                        <li><a class="dropdown-item" href="{% url 'articulos_list' %}">Lista de Artículos</a></li>
                        <li><a class="dropdown-item" href="#">Nuevo Artículo</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated and user.id == 1 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPromos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Promociones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarPromos">
                        <li><a class="dropdown-item" href="{% url 'registrar_promocion' %}">Registrar Promos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_pedidos' %}">
                        <i class="fas fa-clipboard-list me-1"></i>Pedidos
                    </a>
                </li>


                {% endif %}

            </ul>
        
            <!-- Usuario , carrito , úsqueda -->
            <div class="d-flex">
                <form class="d-flex me-2">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
                </form>

                

                {% if user.is_authenticated %}
                <a href="{% url 'carrito' %}" class="btn btn-outline-light position-relative me-2">
                    <i class="fas fa-shopping-cart"></i>
                    {% if cart|length > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ cart|length }}
                    </span>
                    {% endif %}
                </a>
                
                <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-1"></i>{{ user.nombre|truncatechars:15 }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle me-2"></i>Perfil</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Configuración</a></li>
                            {% if user.is_authenticated and user.id != 1 %}
                            <li><a class="dropdown-item" href="{% url 'mis_pedidos' %}"><i class="fas fa-box me-2"></i>Mis Pedidos</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_authenticated and user.id != 1 %}
                            <li><a class="dropdown-item" href="{% url 'mis_pedidos' %}"><i class="fas fa-box me-2"></i>Mis Pedidos</a></li>
                            {% endif %}
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item btn btn-link" style="padding: 0; margin: 0;">
                                        <i class="fas fa-sign-out-alt me-2"></i>Cerrar sesión
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light">
                        <i class="fas fa-sign-in-alt me-1"></i>Iniciar sesión
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
